body{
    font-family: 'Arima', cursive;

}
*{
	padding:0;
	margin:0;
}
main{
	width:100%;
	
}

header{
	width:100%;
	height:100vh;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(image/bgg.png); 

	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	margin-bottom:50px;
}

.bg{
	width:100%;
	height:100vh;
	background-image:linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0));
	display:flex;
	align-items:center;
}

.bg-text{
    margin-left:30%;
	color: rgb(222, 231, 229);
    position: center;
	font-weight: bold;
}
.donate-btn{
	width: 25%;
	padding: 5px;
	padding-top: 10px; 
	padding-bottom: 10px;
	border:none;
	cursor:pointer;
	border-radius:10px;
	background-image: linear-gradient(rgb(255, 169, 9), rgb(233, 49, 150));
	tansition:.5s;
	color: rgb(221, 213, 213);
    font-family:'Inter',sans-serif;
	font-size: 100%;
}
.plan{
	margin-top: 40px;
	margin-bottom: 30px;
	position: center;
	padding-left: 400px;
	padding-right: 50px;
}
.v1-v1-text{
	display: flex;
	padding-top: 50;
}
.v1-text{
	width:-50px ;
	padding-top: 60px;
	padding-bottom: 100px;
	padding-left: 250px;
	padding-right: 50px;
}
.v1{
	padding-right: 200px;
}
.v2-v2-text{
	display: flex;
	padding-top: 100px;
	padding-bottom: 100px;
}
.v2{
	padding-left: 200px;
	padding-right: 100px;
	
}
.v2-text{
	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 100px;
	padding-right: 100px	 
}
.donate {
    text-align: center	
}
.icons{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.icon{
	width: 450px;
	margin: 5px;
	background-color: #f7eecb;
	padding: 30px;
	display: flex;
	border-radius: 10px;
}
.icon-text{
	margin-left: 30px;
}
.icon-text h5{
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 20px;
	color: #121212;
}
.icon-text p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #252424;
}
.all-icon{
	display: flex;
	padding-left: 12%;
}
.all-icons{
	display: flex;
	padding-left: 12%;
	padding-bottom: 100px;
}

.image img{
	width: 350px;
	border-radius: 20px;
	margin: 5px;	
}
.image{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.bottom-card{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.bottom-card div{
	width: 800px;
	text-align: center;
	margin: 0 auto;
}
.bottom-card p{
	padding: 0 80px;
	border-bottom:2px dashed #aa6c31;
}
.donate-card{
	width: 270px;
	border: 1px solid rgb(221, 217, 217);
	border-radius: 10px;
	margin: 10px 25px;
	padding-right: 20px;
}
.donate-card-img1{
	width: 108%;
	height: 200px;
	border-radius: 10px 10px 0 0;
}
.donate-card-img2{
	width: 108%;
    border-radius: 10px 10px 0 0;
	height: 215px;
}
.donate-card-img3{
	width: 108%;
    border-radius: 10px 10px 0 0;
}
.donate-card-img4{
	width: 108%;
	height: 200px;
	border-radius: 10px 10px 0 0;
}
.card-des{
	padding: 20px 15px;
}
.donate-card-title{
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
}
.donate-card-des{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #262f3d;
	margin: 10px 0;
	text-align: justify;
}
.donate-link{
	text-decoration: none;
	color: #3c3ed1;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 16px;
	border-bottom: solid;
}
.cards {
	display: flex;
}
footer p{
	text-align: center;
  }
  .xy{
    background-color: black;
	margin-top: 7%;
    padding-top: 20px;
    padding-bottom: 10px
	
    
}
.x{
    color: white;
    text-align: center;
    font-family: initial;
}
.y{
	font-size: large;
    color: white;
    text-align: center
	
}      